<div class="line"></div>

<footer>
  <div class="some">
    <p>FOLLOW US</p>
    <img
      src="https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_1280.png"
      alt="fb logo"
      class="logo"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png"
      alt="ig logo"
      class="logo"
    />
  </div>
  <div class="newsletter">
    <p>Subscribe to the HauMau newsletter by clicking the button.</p>
    <button>Subscribe to newsletter</button>
  </div>
</footer>
