<div class="content">
  <h2>WHO WE ARE?</h2>
  <p>
    HauMau is an adoption agency for cats and dogs. We have been int he business
    for five years. Our gaol is to find a safe and permanent home for every
    animal.
  </p>

  <h2>YOU WANT ADOPT?</h2>
  <p>
    If you are interested in adopting, please make sure you meet at least these
    criteria <br />
    - You are at least 21 years old <br />
    - You are financially able to take care of the animal (food, insurande &
    medical expenses) <br />
    - You are registered in an apartment
  </p>
</div>
