<p class="info">
  Fill in the contact form if you have any questions or want to adopt animals.
  We will contact you within 3 working days.
</p>
<div class="content">
  <form action="">
    <div class="forms">
      <div class="fields">
        <div class="field">
          <label for="fname">FIRSTNAME</label> <br />
          <input type="text" id="fname" />
        </div>
        <div class="field">
          <label for="lname">LASTNAME</label> <br />
          <input type="text" id="lname" />
        </div>
      </div>
      <div class="fields">
        <div class="field">
          <label for="email">EMAIL</label> <br />
          <input type="email" id="email" />
        </div>
        <div class="field">
          <label for="phone">PHONE</label> <br />
          <input type="tel" id="phone" />
        </div>
      </div>
      <p>I WANT TO BE CONTACTED BY</p>
      <div class="radios">
        <div>
          <input type="radio" name="contactmethod" id="email" value="email" />
          <label for="email">EMAIL</label>
        </div>
        <div>
          <input type="radio" name="contactmethod" id="phone" value="phone" />
          <label for="phone">PHONE</label>
        </div>
      </div>
      <div class="buttons">
        <button>SEND</button>
        <button>CLEAR</button>
      </div>
    </div>
  </form>
</div>
