img {
  width: 20em;
  height: 19em;
  border: 1px solid rgba(0, 0, 0, 0.63);
}

.content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 2em;
}

a{
  background-color: rgba(181, 209, 210, 1);
  border: 1px solid black;
  padding: 1em 2.5em;
  text-decoration: none;
  color: black;
}
