.frontpage {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

img {
  width: 20em;
  border: 1px solid black;
}

h2 {
  font-size: 3em;
  font-family: 'Libre Bodoni', serif;
}

h3 {
  font-size: 2em;
  margin-top: 1em;
}

button {
  background-color: rgba(181, 209, 210, 1);
  border: 1px solid black;
  padding: 2em;
  position: relative;
  left: 40%;
  margin-top: 2em;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .frontpage {
    display: inline;
    text-align: center;
  }
  button {
    left: 0%;
    margin-bottom: 2em;
  }

  .pic{
    display: flex;
    justify-content: center;
  }

}
